In [1]:
print('Hello, World')

Hello, World

# Heading 1
## Heading 2 
### Heading 3
** bold text** , * Italic text* , *** Bold+Italtic***
Here is some `inline code`.

# Literals 
## Integers
**An interger is a sequence of one or more unquoted roman numerals**
` 100`
`-0`

In [61]:
literal = 100
literal

100

In [62]:
literal1 = 6453
literal1

6453

# Floats
** A float is a sequence of unquoted numerals with one only one period**
** note the a period as suffix or puffix will convert an integer to float**

In [63]:
float = 3.14
float

3.14

In [65]:
float2 = 1, 1., .1 
float2

(1, 1.0, 0.1)

# Strings 
** Strings are sequence of quoted characters of any kind, i. e. numbers, letters, punctation,etc**

** Quotes may be single ' or double".
`" foo" 
`'foo'`
`"1"`

In [66]:
String = "foo"
String

'foo'

In [67]:
String1 = "1"
String1

'1'

# Booleans 
** Boolean values are represented by the following unquoted reserved words**
` true , false`

In [68]:
(True,False)

(True, False)

# Nothing 
** Python has a reserved data type for situations where there is no value to represent **
`None` 
`print(None)`

In [69]:
None 
print(None)

None

# Complex numbers
** Complex numbers are created by combining imaginary numbers with other numbers**
`5 + 0j`

#Getting The type a value
** you can always find out what object you are working with by calling the type() function**
` type(3.14)`
`type("foo")`
`type("True")`
`type(None)`

In [70]:
type(3.14)

float

In [71]:
type("foo")

str

In [72]:
type('foo')

str

In [73]:
type(True)

bool

In [74]:
type(None)

NoneType

# Assignment
** Data are assigned to variables using the assignment operator =, like so:**
`intergerEx = 8 
longIntEx = 22000000
floatEx = 2.2
StringEx = True
noneEx = None
`
** The variable name is always on the left, the value assi9gned to it on the right. This is not the same as mathematical equality. When assigned a value, variable inherits the object type of the assigned value, in other words, wariables are assigned types dynamically.


This is in contrast to static typing, wher you define variable by asserting what kind of dta values they can hold

python figures out what type of data is being set the variable and implicitly stores that info 

variable names may  contain any combination of letters, numerals, and underscores
the may not begin with a numeral
Note the type() returns the type of the value a variableholds, n ot the tpye "variable".
tpe(integerEx)"**

In [75]:
integerEx = 8 
longIntEx = 220000000
floatEx = 2.2
stringEx = "Hello"
booleanEx = True 
noneEx = None

# Deleting variables with del()

** When you assign a variable in Python, it sotes that variable in memory along with its  current value. if you want remove the variable and it value from memory, you can delete it with the del() function.

`x = 101.25   


x 
del(x) 
x
del('foo')`

In [80]:
x = 101.25
x

101.25

In [81]:
del(x)
x

NameError: name 'x' is not defined

# Get Object indenity with id()
** This function returns the identity of onject. You can think this number as the unique identifier of the variable in the table that Python uses to store variables and value in memory.
you can also think of it as the address of the object in memory.
This number that is gauranteed to be unique and contrast for this object during its lifetime, i.e during the program session.**
` integer_example = 55`
`d(integer_example)`

In [82]:
integer_example = 55 
id(integer_example)

4510728240

# Converting Type with casting functions 

**It possible to convert betweeen tpyes. 
for example, you may want to convert a float into integer to save memory. the process of converting a data of one kind into another is called casting. Sometimes conversions are 'lossy' - loe information in the processs**

  `int()`
**this converts a number or string into ineger where it makes sense to do so**

## Float to int
val = 3.8
val, type(val)
val_int, tpye (val_int)


## Float()
**this comverts a string or integer into float.**

`val_str = '3.8'`
`val_str, type(val)`
`val_int = flaot(val_str)`
`val_int , type(val_int)`
** Note that converting string decimal to integer will fail**
`val_int = int(val_str)`
`val_int, type(val_int)`

## Ord()
**This converts a character to its's code point**
** A code point is the internal number associated with each character set used by python.**

## Operators 
**if variable are nouns, and values meanings, then operatos are verbs. Ech data type is associated with a set operators, that allow you to manipulate the data in way that makes sense for its type. for example, numeric data types are subject to mathematical operations, booleans to logical ones, and so forth.the relationship between data strcutures and algorithms.**

## Arthmetic Operators
**Python supports all the basic operations:**
x + y Addition 
x - y Subtraction
x * y Multiplcation
x / y Division

In [ ]:
val = 3.8 # type function indicates a float
val, type(val)

(3.8, float)

In [ ]:
val_int = int(val) # val is now an interger 
val_int, type(val_int)

(3, int)

converting string to decimal will fail

In [ ]:
string = "will"
type(string)

str

In [93]:
string2 = float(string)
type(string2)

TypeError: 'float' object is not callable

In [94]:
ord('a'), ord('A')

(97, 65)

# Arithmetic Operators

## Floor division //
** Return the result types of the returned values**

In [95]:
5 // 2

2

In [96]:
-5 // 2

-3

In [97]:
5.5 // 2

2.0

## Modulus % 
** Returns the remainder**

5%2 

odd integers % 2 = 1 
even intergers % 2 = 0


Look at this...

Exponentiation **
 Raises one number to the power of another

 5**3

In [ ]:
5 % 2 # returns the remainder

1

In [99]:
5 ** 2

25

In [100]:
3 ** 3

27

## String Operators 
 #Concatenation +
 **When used with strings, the plus operators joins strings into larger strings.
 The plus sign is an overloaded operator in Python**

In [4]:
my_string = 'This:'
my_2nd_string = my_string + 'Hello, world!'
my_2nd_string # prints the statement

'This:Hello, world!'

# Repeition *
**this joins string to itself as many times as specficied **

In [7]:
print('__' * 80)

________________________________________________________________________________________________________________________________________________________________

In [8]:
bart_s1e3 = ' I will not skateboard in the halls'
print((bart_s1e3 + '\n') * 5 )

 I will not skateboard in the halls
 I will not skateboard in the halls
 I will not skateboard in the halls
 I will not skateboard in the halls
 I will not skateboard in the halls

# The Assignment Operator = 
** We've used this already, but it too is an operator**

In [9]:
epoch = 20
print('epoch:' , epoch )

epoch: 20

# Comparison Operators 
** Comparisons are `True` or `False`questions based on compariing two values 

## equality ==

In [10]:
0 == (10 % 5)
'Boo' == 'Hoo'

False

# Greater than and less than 
** >, <,>= and <= **

In [15]:
10 < 5 , 5. < 100 - 90

(False, True)

In [16]:
10 < 5 and 3 > 5

False

** Note the we can can compare strings, too:**

In [17]:
'A' + 'B' == 'AB'

True

In [18]:
'A' < 'B'

True

** We can compare relative magnitude because we are comparing thier code points:**

In [19]:
ord('A'), ord('B')

(65, 66)

** Watch out when comparing floats, though!**

In [ ]:
.5 == 1/2

False

In [ ]:
x = 0.1 + 0.2 
y = 0.3 
x == y
# this is because the two values are represented differetly internally

False

** you can overcome this by rounding values, like so:**
using #round(x, 20) == round(y, 20), round(x, 20), round( y, 20)
This is bacuse of how python (and computers in general) handle floating point numbers.**

In [27]:
round(x, 2) == round(y, 2)

True

## import math 
math.isclose(x, y)

## inequality !=

In [ ]:
5/9 != 0.5555

True

In [29]:
4 != 4

False

#Logical operators 
**Python uses words where other languages will use other symbols**

## Conjunctions and, or , not

In [31]:
x = 10 
(x % 10 == 0) or (x < -1)
(x % 10 == 0) and ( x < -1)
not x == 5

True

## Identity `is`
**The is keyword test if two variable refers to same object. Depending on object types invloved, variable can sometimes  point to the same object when we assign one variable anbother. The test returns True if the two objects are same object and False if they are not. Use the == operator to test if two varibles store equal values**
** User the == operator to test if two  variables stores equal values.
`is`

In [33]:
x = 'foo'
y = 'foo'
z = 'bar'
x is y, x is z

(True, False)

Negation `not`
** not flips the value of boolean**


`not` flips the value of boolean 
`not` True, `not` False, `not` 0, `not` 1 , `not` 1000, `not` None


`is not` test if two variables do not point to same object.

In [ ]:
x is not y, x is not z

(False, True)

# Unary operators 
**Python offers a short -cut for most operators. When updating a variable with an operation ot that variable, such as:**

In [ ]:
my_var = my_var + 1 #incrementing

In [ ]:

zero = 0
x = 10 
z = 11
if x and z > 20: 
   zero += 1
elif z > 12:
   zero -= 1
elif z > 12:
   zero %= 1

elif z == 10:
   zero *= 1
elif **= a:
   zero 
   print(f'{z} is not greater 12')  
else:
   print('add more variables')    
print(zero) #this will execute anyway

add more variables
0

a -= a
a \= a 
a \\= a
a *= a
a ** a

# Expressions 
** Variable, literal values, and operators are building blocks of expressions. For example, the following combines three operators and four varibale s:

In [42]:
1 + 2 * 3 / 2

4.0

** operator precendence**
P - Parentheses
E - Exponentiation
M - Mutiplcation 
D - Division
A - Addition 
S - Subtraction

In [ ]:

(1 + 2) * ( 3/2 )

4.5

In [44]:
y = 5 
m = 2.5
b = 10

In [45]:
y = m * 10 + b 
y

35.0

In [46]:
y = m * 10 + b 
y

35.0

Expression can be very complex
Expressions evaluate to value just as single variable do
Therefire, they can put anywhere a value is accepted

In [47]:
int((y + 10) ** 8 )

16815125390625

# Numbers 
## Built - in Functions

In [48]:
pow(2,3)

8

## Absolute value

In [101]:
abs(-2)

2

## Round
** Rounding up or down its argument (to closet whole number).
rounds up to 3.0

In [49]:
round(2.8)

3

In [50]:
round(1.1)

1

In [51]:
round(5.3695)

5

## Math library functions
** Python's math library contains many other functions to perform mathematical operations. 
see the python docs on math library for more information
first, we import the library like so:

In [54]:
import math 
 # Square root

In [55]:
math.sqrt(12)

3.4641016151377544

In [56]:
print(math.floor(2.5)) # returns largest whole number less than argument
print(math.floor(2.9))
print(math.floor(2.1))

2
2
2

## math.log()

In [57]:
math.log(100,10)

2.0

In [58]:
math.log(256, 2)

8.0

## random.random()
use random() will return a number between 0 and 1

In [60]:
import random
print(random.random())

0.06645061718354706

## The Random Library 
** Python has library to help you generate random numbers**
**this will return a random  integer in the range 1 10 1000 inclusive**

In [102]:
print(random.randint(1,100))

94